<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{assets.css.main}}">
</head>
<body>
  <div id="root">{{appHtml}}</div>
  <script>var APP_DATA = {{appData}};</script>
  <script src="{{assets.js.react}}"></script>
  <script src="{{assets.js.main}}"></script>
</body>
</html>
